p {
    color : #F00;
    text-align: left;
}
.portfolio-imagem{
    width: 25%;
    height: 40%;
    opacity: 1;
    visibility: visible;
}
#minha-imagem{
    width: 80%;
}
#meu-paragrafo{
    color: black;
}


